### Ответы

1.
* **Верно:(2)**, потому что из данных условий следует, что мы не можем ТОЧНО определить поймали ли мы среднее значение генеральной совокупности, а лишь на 95%,

* **Верно:(3)**, потому что доверительный интервал расчитывается исходя из формулы $ \mu ± 1,96\sigma $ , чтобы показать где будет лежать среднее генеральной совокупности, а не выборочное среднее.

2. 
* **Верно:(1)** стал более узким. Доверительный интервал связан с SE (стандартная ошибка). SE рассчитывается следующим образом: $ SE= \frac{sd}{\sqrt{n}} $  Если увеличивается (n * 2), то увеличивается и знаменатель дроби, следовательно уменьшается SE, соответственно сужается и доверительный интервал. 

3. 
* **Верно:(2)** Выборочное среднее значение

4.
* **Верно:(2)** - 0,001. Чем меньше α, тем меньше шансов отклонить достоверную нулевую гипотезу. 

5. 
* **Верно:(1),(3)**. Выборочное стандартное отклонение  $ s= \sqrt{\sum \frac{(x_i-x^-)^2}{n}} =6 $. Чтобы найти границы 95% доверительного интервала, нужно найти квантили стандартного нормального распределения, которые соответствуют вероятностям 0.025 и 0.975. z(0.05)=1.96 95% выборочных средних в повторных выборках будут лежать в пределах ± 1.96 стандартных ошибок вокруг среднего значения. 166 ± 1.96 

6. **Верно:(1)** 
* Если p-значение проверки гипотезы меньше альфа-уровня, то мы можем отклонить нулевую гипотезу. Но так как нулевая г ипотеза не была отклонена, то вариант (1)

In [ ]:
# Проверить гипотезу о том, в каком варианте теста (control/personalization) больше конверсия (converted) и значимо ли это отличие статистически.

In [10]:
import pandas as pd

In [17]:
data_marketing_campaign = pd.read_csv("marketing_campaign.csv")
data_marketing_campaign.head(100)

,user_id,date_served,marketing_channel,variant,language_displayed,converted
0,a1000,1/1/18,House Ads,personalization,English,True
1,a1001,1/1/18,House Ads,personalization,English,True
2,a1002,1/1/18,House Ads,personalization,English,True
3,a1003,1/1/18,House Ads,personalization,English,True
4,a1004,1/1/18,House Ads,personalization,English,True
...,...,...,...,...,...,...
95,a1095,1/5/18,House Ads,control,English,True
96,a1096,1/4/18,House Ads,control,English,False
97,a1097,1/5/18,House Ads,control,English,True
98,a1098,1/4/18,House Ads,control,English,False
99,a1099,1/5/18,House Ads,control,English,True

In [14]:
data_subscribers = pd.read_csv("subscribers.csv")
data_subscribers.head(3)

  user_id subscribing_channel date_subscribed date_canceled is_retained
0   a1000           House Ads          1/1/18           NaN        True
1   a1001           House Ads          1/1/18           NaN        True
2   a1002           House Ads          1/1/18           NaN        True

In [15]:
data_users = pd.read_csv("users.csv")
data_users.head(3)

  user_id    age_group language_preferred
0   a1000   0-18 years            English
1   a1001  19-24 years            English
2   a1002  24-30 years            English

In [21]:
z_crit_value = 1.96 #соответствует доверительному интервалу в 95%
k1, n1 = data_marketing_campaign[data_marketing_campaign['variant']=='personalization']['converted'].sum(), data_marketing_campaign[data_marketing_campaign['variant']=='personalization'].shape[0]
k2, n2 = data_marketing_campaign[data_marketing_campaign['variant']=='control']['converted'].sum(), data_marketing_campaign[data_marketing_campaign['variant']=='control'].shape[0]
k1, k2, n1, n2

(705, 371, 4946, 5091)

In [22]:
p1, p2 = k1/n1, k2/n2
p1, p2

(0.14253942579862516, 0.07287369868395208)

In [23]:
P = (p1*n1+p2*n2)/(n1+n2)
z = (p1-p2)/(P*(1-P)*(1/n1+1/n2))**(1/2)
z

11.278864170859038

In [24]:
if abs(z) > z_crit_value:
    print("We may reject the null hypothesis!")
else:
    print("We have failed to reject the null hypothesis")

We may reject the null hypothesis!

In [26]:
from statsmodels.stats import proportion
import numpy as np

z_score, z_pvalue = proportion.proportions_ztest(np.array([k1, k2]), 
                                                   np.array([n1, n2]))
print('Results are ','z_score =%.3f, pvalue = %.3f'%(z_score, z_pvalue))

Results are  z_score =11.279, pvalue = 0.000